{% extends "base.html" %}

{% block main %}
<div class="header">
  <div class="header__instructions">
  Ensure <b>{{service_account_email}}</b> has access to Google Drive and Google Cloud Storage.
  </div>
  <form class="header__form" action="" method="post">
    <div class="header__form__side">
      <label>Google Drive Folder ID</label>
      <input type="text" name="folder_id" placeholder="XXX" value="{{folder_id}}">
    </div>
    {#
    <div class="header__form__side">
      <div class="header__form__side__icon">
        <i class="material-icons">arrow_forward</i>
      </div>
    </div>
    #}
    <div class="header__form__side">
      <label>Google Cloud Storage Path</label>
      <input type="text" name="gcs_path_format" placeholder="/bucket/path/to/base/folder/" value="{{gcs_path_format}}" ng-model="gcs_path" ng-init="gcs_path = '{{gcs_path_format}}'">
    </div>
    <div class="header__form__side">
      <button type="submit">Upload</button>
    </div>
  </form>
  <div class="header__info">
    &nbsp;
    <span ng-if="gcs_path">
      Files will be uploaded to: <b>[[gcs_path]]/&lt;Drive Folder Title&gt;</b>
    </span>
  </div>
</div>

{% if tasks or tag %}
<a href="?folder_id={{folder_id}}&gcs_path_format={{gcs_path_format}}&tag={{tag}}">Refresh upload status</a>
  {% if tag_ent %}
  ({{tag_ent.num_assets}} assets total)
  {% endif %}
{% if tasks %}
<br><br>
<textarea readonly>{{tasks|length}} tasks with tag {{tag}}</textarea>
{% endif %}
<br><br>
{% endif %}

{% if entities %}
<table>
  <tr>
    <th></th>
    <th></th>
    <th>Path</th>
    <th>Modified</th>
  </tr>
  {% for ent in entities %}
    {% set parent_asset = parent_entity_ids_to_entities.get(ent.drive_id) %}
    <tr>
      <td style="user-select:none">{{ent.status}}</td>
      <td style="user-select:none; {% if parent_asset and parent_asset.etag != ent.etag %} background: yellow{% endif %}">
        <a href="{{ent.serving_url}}"><i class="material-icons">image</i></a>
        {% if parent_asset %}
          <a href="{{parent_asset.serving_url}}"><i class="material-icons">image</i></a>
        {% endif %}
      </td>
      <td>{{ent.bucket_path}}</td>
      <td style="user-select:none">{{ent.modified}}</td>
    </tr>
  {% endfor %}
</table>
{% endif %}

{% if paths %}
  <textarea readonly>{% for path in paths %}{{path}}
{% endfor %}</textarea>
{% endif %}

{% endblock %}
